@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    overflow-x: hidden !important;
    width: 100vw !important;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

::-ms-reveal {
  display: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* .swiper-button-prev {
  left: unset !important;
  right: 80px !important;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 50 !important;
  top: -20px !important;
  background-color: #f7f7f7;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  color: #202020 !important;
  font-size: 20px !important;
}

.swiper-button-prev:active,
.swiper-button-next:active,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  background-color: #202020 !important;
  color: #f7f7f7 !important;
} */
/* 
.swiper-wrapper {
  margin-top: 100px !important;
  height: 220px !important;
  align-items: end !important;
}

.swiper-zoom-container {
  height: 190px !important;
} */

/* .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
} */

.circularGradientBg {
  background: radial-gradient(
    circle at 50% 90%,
    #cfe4ff 0px,
    #cfe4ff 125px,
    #d9e7ff 125px,
    #d9e7ff 200px,
    #dee9ff 200px,
    #dee9ff 275px,
    #dcecff 275px,
    #dcecff 350px,
    #ddecff 350px,
    #ddecff 425px
  ) !important;
}

/* .swiper-slide {
} */
/* 
.swiper-slide-active {
  width: 40% !important;
  top: -50px;
}

.swiper-slide-next,
.swiper-slide-next + div {
  width: 27% !important;
} */

/* .swiper-slide-active > .swiper-zoom-container {
  height: 240px !important;
  background-color: ghostwhite;
  border-radius: 10px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
} */

/* .swiper-slide-active > .swiper-zoom-container > div {
  font-size: 1.25rem;
} */

/* .swiper-slide-active .imageClass {
  scale: 1.5;
} */

/* .swiper-slide-active .clientDescriptionClass {
  margin-left: 15px;
} */

/* .swiper-slide-active .clientImageDescriptionClass {
  margin-top: 10px;
  margin-left: 10px;
} */

.css-13cymwt-control {
  background-color: transparent !important;
  border-width: 0px !important;
}

.css-1jqq78o-placeholder {
  color: #7e858f !important;
}

/* Hide the scrollbar by default */
dialog::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Define the track (the area behind the thumb) */
dialog::-webkit-scrollbar-track {
  background: transparent; /* Set the track background color */
}

/* Define the scrollbar thumb */
dialog::-webkit-scrollbar-thumb {
  position: absolute;
  background: #555; /* Set the thumb color */
  border-radius: 100%; /* Add rounded corners to the thumb */
}

/* Show the scrollbar when hovering over it */
dialog::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Change the thumb color on hover */
}

/* Hide the scrollbar when not being hovered */
dialog::-webkit-scrollbar-thumb:active {
  background: #2563eb; /* Change the thumb color on active state (when clicked) */
}

::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.container-type {
  container-type: inline-size;
}

.fluid-text-heading {
  font-size: 5cqi;
}

.fluid-text-sub-heading {
  font-size: 4cqi;
}

.fluid-text-paragraph {
  font-size: 3cqi;
}

.share-qr canvas {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1/1 !important;
}
